<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1>Sentiment Analysis</h1>
        <form action="/predict" method="POST">
            <div class="form-group">
                <label for="text">Enter Text:</label>
                <textarea class="form-control" id="text" name="text" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Analyze Sentiment</button>
        </form>

        {% if prediction %}
            <div class="result {% if prediction == 'Very Positive' %}positive
                                {% elif prediction == 'Negative' %}negative
                                {% elif prediction == 'Very Negative' %}negative
                                {% else %}neutral
                                {% endif %}">
                Sentiment: {{ prediction }}
            </div>
        {% endif %}

        {% if prediction == "Please enter some text." %}
            <div class="error">{{ prediction }}</div>
        {% endif %}
    </div>
</body>
</html>
